<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<style>
	label
	{
		font-size: 23px;
		color: red;
		margin-left: 30%;
	}
	input 
	{
		background-color: green;
		color:white;
		border-radius:20px;
	}
	h1
	{
		border:3px solid red;
		border-radius: 20px;
		margin-left: 20%;
		margin-right:20%;
		text-align:center;
	}
	button
	{
		margin-left: 30%;
		font-size: 20px;
		padding: 3px;
		margin-bottom: 5px;
		width: 20%;
	}
</style>
<body>
<form style="margin-left:30%;margin-top: 70px;margin-right:30%;border:2px solid green;border-radius: 15px" method="post">
	{% csrf_token %}
	<h1>Registration</h1>
	<label> Name: </label>
	<input type="text" name="n"><br/>
	<label> Age: </label>
	<input type="number" name="a"><br/>
	<label> Username: </label>
	<input type="text" name="uname"><br/>
	<label> Password: </label>
	<input type="password" name="pwd"><br/>
	<button type="submit">Submit</button>
</form>
</body>
</html>