h2
{
	margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 5px;
    background: coral;
    color: white;
}
form
{
	margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border: 2px solid darkblue;
    border-radius: 13px;
    padding: 23px;
    background-color: cadetblue;
}
label
{
	margin-top: 4px;
	margin-bottom: 5px;
}
input
{
	margin-top: 4px;
	margin-bottom: 5px;
	border:2px solid red;
	border-radius: 8px;
	padding: 4px;
}
button
{
	padding:4px;
	border: 3px solid black;
	border-radius: 9px;
	background-color: grey;
	color:white;
}