{% extends 'sa/base.html' %}
{% block title %} Update Profile {% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mx-auto mt-5 shadow-lg">
		<div class="card-body">
			<h2 class="bg-info text-white text-center mx-2 my-2 p-2 border rounded">Update Profile</h2>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for k in h %}
					<tr>
						<td>{{k}}</td>
					</tr>
					{% endfor %}
					{% for m in u %}
					<tr>
						<td>{{m}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="Update" class="btn btn-success btn-block">
			</form>
		</div>
	</div>
	<a href="{% url 'pf' %}" class="btn btn-warning">Back</a>
</div>
{% endblock %}